---
import { getEntryBySlug } from 'astro:content';
const entry = await getEntryBySlug('pages', 'collection1/page1');
const { Content, headings } = await entry.render();
---

<div>
	<Content />
</div>
