---
import { getCollection } from 'astro:content';
const entries = await getCollection('collection1');
---

{
	entries.map(async (entry) => {
		const { Content, headings } = await entry.render();
		return (
			<section class="entry" id={entry.slug}>
				<h2 class="heading">{entry.slug}</h2>
				<div class="content">
					<Content />
				</div>
			</section>
		);
	})
}

<style>
	.entry {
		border: 1px solid #ccc;
		background: #dde;
		padding: 1em;
	}
	.entry > :first-child {
		margin-top: 0;
	}
	.entry > :last-child {
		margin-bottom: 0;
	}
	.entry + .entry {
		margin-top: 1em;
	}
	.heading {
		font-size: 1em;
	}
	.content {
		background: Canvas;
	}
</style>
