---
import { formatTitle } from '../util/title';

const { name } = Astro.props;
const title = formatTitle(name);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>{name}</h1>
		<slot />
		<footer>
			<p class="footerlinks">
				<a href="/">Home</a>
				<a href="https://github.com/myakura/learn--astro-mdx-2023">GitHub</a>
			</p>
		</footer>
	</body>
</html>

<style>
	footer {
		margin-top: 3em;
	}
	.footerlinks {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
</style>
